django
psycopg2
py-bcrypt
python-memcached
south

# Debug Tools
django-debug-toolbar
django-devserver
sqlparse

https://packages.elmcitylabs.com/ecl_django-0.3.8.tar.gz#ecl_django
https://packages.elmcitylabs.com/ecl_tools-0.3.0.tar.gz#ecl_tools

