<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title></title>
    <link rel='stylesheet' href='{{ MEDIA_URL }}css/reset.css' />
    <link rel='stylesheet' href='{{ MEDIA_URL }}css/main.css' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' href="">

    <!-- TODO: Meta Tags -->
    <meta name='title' content='' />
    <meta name='description' content='' />

    <!-- TODO: Google Site Verification -->
    <meta name='google-site-verification' content="" />

    <!-- TODO: Open Graph -->
    <meta property="fb:admins" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="fb:page_id" content="" />

    <!-- TODO: Google Analytics -->
    <!-- TODO: Mixpanel -->

    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    {% block media %}{% endblock %}
  </head>
  <body>
  </body>
</html>

