{% extends 'base.html' %}

{%block content%}
    <form action="/sign" method="post">
        {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        <div><input type="submit" value="Sign Guestbook"></div>
    </form>
    {% if posts %}
        {% for post in posts %}
            {% if post.author %}
                <em>{{ post.author }}</em> wrote:<br/>
            {% else %}
                <em>An anonymous person</em> wrote:<br/>
            {% endif %}
            {{ post.message }}<br/><br/>
        {% endfor %}
    {% endif %}
{%endblock%}
